body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

nav {
  background-color:  #f44336;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  font-size: 18px;
  line-height: 27px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  cursor: pointer;
  padding: 12px 24px;
  text-align: center;
}

a {
  text-decoration: none;
  color: grey;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 60px;
}

li a:hover {
  background-color: white;
}

.btn_signup {
  background-color: black;
  color: white;
  border: none;
  margin: 0 40.5%;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 18px;
  line-height: 23px;
  width: 250px;
}

.container_sign {
  padding: 128px 16px;
}

.container_sign_two {
  padding: 128px 16px;
  background-color: white;
}

.new_users {
  font-size: 30px;
  display: block;
  line-height: 33px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}
